<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}"/>
            </a>
        </td>
        <td>
            {% set user_link %}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            {% endset %}
            {{ _('%(username)s 發表於%(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>
        {#  <a href="{{ url_for('main.post', qry=qry)}}">{{post.title.qry}}</a> #}
        {# <a href="{{ url_for('main.post')}}">{{post.title}}</a> #}
            <a href="{{ url_for('main.casual')}}">{{post.title}}</a
{# our_user = session.query(User).filter_by(name='ed').first() #}
{# {{ post.body|filterpost }} #}
            </a>
        </td>
    </tr>
</table>
